html {
  font-size: 10px
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav {
  border-bottom: 1px solid #000;
}

.nav ul {
  text-transform: uppercase;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav ul li {
  font-size: 1.8rem
}

.nav li:first-child {
  padding-left: 0;
}

.nav li:last-child {
  padding-right: 0;
  width: 48%;
  text-align: right;
}

.nav button {
  border: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 0;
  padding-right: 10px;
  cursor: pointer;

}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}